body
{
	background-color: #68606E;
}
p img
{
	border: none;
	position: absolute;
	top: 2px;
	left: 100px
}
#galerie a
{
	border: none;
	position: absolute;
	top: 253px;
	left: 242px;
	width:105px;
	height: 38px;
}
#ressource a
{
	border: none;
	position: absolute;
	top: 318px;
	left: 232px;
	width:133px;
	height: 34px;
}
#cv a
{
	border: none;
	position: absolute;
	top: 373px;
	left: 275px;
	width:38px;
	height: 36px;
}
#lien a
{
	border: none;
	position: absolute;
	top: 438px;
	left: 260px;
	width:65px;
	height: 36px;
}
table
{
	display: inline;
	border:  none;
	position: absolute;
	top: 210px;
	left: 405px;
	width: 375px;
	height: 245px;
	overflow: auto;
	color: #FFFFFF;
	font-size: 15px;
	font-family: sylfaen;
}
tr a
{
	text-decoration: none;
	color: #68606E;
}
