body
	   {
	   background-color: #68606E;
}

img {
		border: none;
	}
	
#galerie img
	   {
	   position: absolute;
	   top: 0px;
	   left: -5px;
	   }
	   
#ressource img
	   {
	   position: absolute;
	   top: -1px;
	   left: -6px;
	   }
	   
#cv img
	   {
	   position: absolute;
	   top: -6px;
	   left: -7px;
	   }
	   
#lien img
	   {
	   position: absolute;
	   top: -5px;
	   left: -2px;
	   }
	   
table
	   {
	   display: inline;
	   border:  none;
	   position: absolute;
	   top: 210px;
	   left: 405px;
	   width: 375px;
	   height: 245px;
	   overflow: auto;
	   color: #FFFFFF;
	   font-size: 0.8em;
	   }
	   
.date
	   {
	   vertical-align: top;
	   }
	   
tr a
	   {
	   text-decoration: none;
	   color: #68606E;
	   }
